<h3>Profile</h3>

<div class="avatar-profile">
  <ul><%= image_tag @user.avatar %></ul>
</div>
<ul><%= @user.first_name %> <%= @user.last_name %></ul>
<ul><%= @user.bio %></ul>
<ul><%= @user.email %></ul>
