<% @events.each do |event| %>
  <div class="row">
  <div class="large-11 medium-11 small-10 columns">
    <div class="event-box panel">
      <%= image_tag event.picture, class: "index-pic show-for-medium-up" %>
      <% if event.number_left == 0 %>
        <p class="number-needed-full">Number of people needed: Full</p>
      <% else %>
        <p class="number-needed">Number of people needed: <%= event.number_left %></p>
      <% end %>
    <div class="event">
        <div class="event-date">
          <p class="event-month"><%= event.starts_at.strftime("%b") %></p>
          <p class="event-day"><%= event.starts_at.strftime("%d") %></p>
        </div>

        <div class="event-desc">
          <h4 class="event-desc-header"><%= event.title %></h4>
          <p class="event-desc-detail"><span class="event-desc-time"></span><%= event.address %> - <%= event.city %>, <%= event.state %></p>
          <%= link_to "Details", event_path(event), class: "button radius details" %>
        </div>
      </div>
    </div>
</div>
</div>
  <% end %>
<div class="area"></div>
<nav class="main-menu">
            <ul>
                <li class="has-subnav">
                    <a href="/events/new" id="add-event-sidebar">
                        <i class="fa fa-plus-circle fa-2x"></i>
                            <span class="nav-text">
                              Add Event
                            </span>
                    </a>
                </li>
                <li class="has-subnav"
                  id="happening-today-sidebar">
                    <a href="/events?id=today">
                       <i class="fa fa-clock-o fa-2x"></i>
                        <span class="nav-text">
                            Happening Today
                        </span>
                    </a>
                </li>
                <li class="has-subnav"
                id="happening-week-sidebar">
                    <a href="/events?id=week">
                       <i class="fa fa-calendar-minus-o fa-2x"></i>
                        <span class="nav-text">
                            Happening This Week
                        </span>
                    </a>
                </li>
                <li class="has-subnav"
                id="happening-month-sidebar">
                    <a href="/events?id=month">
                       <i class="fa fa-calendar fa-2x"></i>
                        <span class="nav-text">
                            Happening This Month
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
