<div class="row">
<div class="small-9 columns">
<h3>Show Page<h3>
	<article class="event">
		<p><%= @event.title %> - <%= @event.starts_at.strftime("%m/%d/%y") %> - <%= @event.starts_at.strftime("%l:%M%p") %></p>
	</article>
</div>
</div>




<div class="row">
  <div class="small-9 medium-9 large-9 columns small-centered"><a class="show-pic">
			<%= image_tag @event.picture %><a>
	</div>
</div>
<div class="row">
  <div class="small-9 medium-9 large-9 columns small-centered">	<iframe
			id="map"
		  frameborder="0" style="border:0"
		  src="https://www.google.com/maps/embed/v1/place?key=<%= ENV["GOOGLE_MAPS_KEY_SERVER"] %>
		    &q=<%= @event.address %>,<%= @event.city %>+<%= @event.state %>" allowfullscreen>
		</iframe>
	</div>
</div>




  <div class="row">
    <div class="small-9 columns small-centered">
			<hr>
<ul>
  <h4>Members<h4>
  <% @memberships.each do |membership| %>
    <% if membership.approved == true %>
      <div class="members">
        <p><%= link_to "#{membership.user.first_name} " + "#{membership.user.last_name}", user_path(membership.user) %></p>
      </div>
      <div class="avatar-event">
        <%= image_tag membership.user.avatar %>
      </div>
      <% if membership.event.user == current_user && current_user != membership.user%>
        <%= button_to "Delete member", membership_path(membership), method: :delete, class: "tiny button radius" %>
      <% end %>
    <% end %>
  <% end %>
  <hr>
  <h4>Interested</h4>
  <% @memberships.each do |membership| %>
    <% if membership.approved == false %>
      <p class="prospective"><%= link_to "#{membership.user.first_name} " + "#{membership.user.last_name}", user_path(membership.user) %></p>
      <div class="avatar-event">
        <%= image_tag membership.user.avatar %>
      </div>
      <%# binding.pry %>
      <% if membership.event.user == current_user %>
        <%= button_to "Accept member", membership_path(membership, event_id: @event.id), method: :patch, class: "tiny button radius" %>
        <%= button_to "Delete member", membership_path(membership), method: :delete, class: "tiny button radius" %>
      <% end %>
    <% end %>
  <% end %>
</ul>

<ul>
  <%= button_to "Join", event_memberships_path(@event), class: "tiny button radius" %>
</ul>

<ul>
<% if @event.user == current_user %>
  <%= link_to "Update Event", edit_event_path, class: "tiny button radius" %>
<% end %>
</ul>
