<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Round Out" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    "animate.css" %>
    <link href='https://fonts.googleapis.com/css?family=Grand+Hotel|Pacifico|Damion|Bubblegum+Sans|Acme|Sonsie+One|Chicle' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div class="welcome-wrapper">
      <div class="sticky">
        <nav class="top-bar" data-topbar role="navigation">
          <%= render "layouts/header" %>
        </nav>
      </div>
    </div>
    <%= render "layouts/flash" %>
    <%= yield %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "welcome" %>
    <%= javascript_include_tag "wow" %>
    <script>
      new WOW().init();
    </script>
  </body>
</html>
